@page
@model VetApp_prj.Pages.IndexPModel
@{
}
<partial name="MainNavBar" />

<!DOCTYPE html>
<html style="font-size: 16px;" lang="fr"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Care Pet Clinic, INTUITIVE">
    <meta name="description" content="">
    <title>AccueilAdmin</title>
    <link rel="stylesheet" href="/css/nicepage.css" media="screen">
<link rel="stylesheet" href="/css/Accueil.css" media="screen">
    <script class="u-script" type="text/javascript" src="js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.21.12, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">
    
    
    <script type="application/ld+json">{
		"@@context": "http://schema.org",
		"@@type": "Organization",
		"name": "",
		"logo": "images/image.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="AccueilAdmin">
    <meta property="og:type" content="website">
  </head>
<section class="u-align-center u-clearfix u-gradient u-valign-middle u-section-1" id="carousel_891b">
    <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20-md u-size-20-sm u-size-20-xs u-size-22-lg u-size-22-xl u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                        <h1 class="u-align-center u-custom-font u-font-oswald u-text u-text-palette-5-dark-2 u-text-1">Vétérinaire du Monde</h1>
                        <p class="u-align-center u-text u-text-default u-text-palette-5-dark-2 u-text-2">
                            Notre mission est de prodiguer les meilleurs soins possibles à votre compagnon de vie !<br>Vous allez vivre une expérience inoubliable avec nos vétérinaires spécialistes munis des appareils aux fines pointes de technologie !
                        </p>
                        <a href="identificationClient" class="u-align-center u-btn u-btn-round u-button-style u-radius-30 u-btn-1">Je suis un client !</a>
                        <a href="identificationAdmin" class="u-align-center u-btn u-btn-round u-button-style u-radius-30 u-btn-2">Je suis professionnel de la santé</a>
                    </div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-38-lg u-size-38-xl u-size-40-md u-size-40-sm u-size-40-xs u-image-1" data-image-width="1536" data-image-height="2048">
                    <div class="u-container-layout u-valign-bottom u-container-layout-2"></div>
                </div>
            </div>
        </div>
    </div>
</section>
