@page
@model VetApp_prj.Pages.PatientCRUD.CreateModel

@{
    ViewData["Title"] = "Create";
  
}<partial name="AdminNavBar"/>

  <center>
<h1>Create Patient</h1>


<hr />
<div class="row">
    <div class="col-md-4" style="margin-left:500px">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Patient.Nom" class="control-label"></label>
                <input asp-for="Patient.Nom" class="form-control" />
                <span asp-validation-for="Patient.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Age" class="control-label"></label>
                <input asp-for="Patient.Age" class="form-control" />
                <span asp-validation-for="Patient.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.DateNaissance" class="control-label"></label>
                <input asp-for="Patient.DateNaissance" class="form-control" />
                <span asp-validation-for="Patient.DateNaissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Espece" class="control-label"></label>
                <input asp-for="Patient.Espece" class="form-control" />
                <span asp-validation-for="Patient.Espece" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Race" class="control-label"></label>
                <input asp-for="Patient.Race" class="form-control" />
                <span asp-validation-for="Patient.Race" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Couleur" class="control-label"></label>
                <input asp-for="Patient.Couleur" class="form-control" />
                <span asp-validation-for="Patient.Couleur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.MicroPuce" class="control-label"></label>
                <input asp-for="Patient.MicroPuce" class="form-control" />
                <span asp-validation-for="Patient.MicroPuce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Sexe" class="control-label"></label>
                <input asp-for="Patient.Sexe" class="form-control" />
                <span asp-validation-for="Patient.Sexe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Sterilise" class="control-label"></label>
                <input asp-for="Patient.Sterilise" class="form-control" />
                <span asp-validation-for="Patient.Sterilise" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Patient.AlerteMedical" class="control-label"></label>
                <input asp-for="Patient.AlerteMedical" class="form-control" />
                <span asp-validation-for="Patient.AlerteMedical" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Vaccination" class="control-label"></label>
                <input asp-for="Patient.Vaccination" class="form-control" />
                <span asp-validation-for="Patient.Vaccination" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-page="../Patient"><input  class="btn btn-primary" value="Back to list" /></a>
</div>
</center>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
