 .u-section-1 {
  background-image: linear-gradient(to right, #d9dee5, white);
}

.u-section-1 .u-sheet-1 {
  min-height: 984px;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  font-weight: 700;
  margin: 71px auto 0;
}

.u-section-1 .u-form-1 {
  height: 703px;
  margin: 23px 543px 0 27px;
}

.u-section-1 .u-input-1 {
  text-transform: uppercase;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  text-transform: uppercase;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  text-transform: uppercase;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  text-transform: uppercase;
}

.u-section-1 .u-input-5 {
  text-transform: uppercase;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-input-6 {
  text-transform: uppercase;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-input-7 {
  text-transform: uppercase;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-input-8 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-1 .u-image-1 {
  width: 467px;
  height: 495px;
  margin: -676px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    text-transform: none;
  }

  .u-section-1 .u-form-1 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-1 .u-form-group-3 {
    height: 475px;
    margin-top: 0;
    margin-right: 370px;
    margin-bottom: 0;
  }

  .u-section-1 .u-form-group-7 {
    text-transform: none;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 150px;
  }

  .u-section-1 .u-form-group-3 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
  }

  .u-section-1 .u-form-group-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 360px;
  }
}