 .u-section-1 {
  background-image: linear-gradient(45deg, #ccd3db, #f5f7fa);
}

.u-section-1 .u-sheet-1 {
  min-height: 667px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1190px;
  margin: 7px -75px 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 646px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1223px;
  margin: -586px auto 60px -21px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 397px;
}

.u-section-1 .u-container-layout-2 {
  padding: 7px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 278px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 50px;
}

.u-section-1 .u-form-1 {
  height: 181px;
  width: 465px;
  margin: -184px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 9px 47px 11px 45px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 675px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 81px;
}

.u-section-1 .u-image-1 {
  width: 414px;
  height: 558px;
  margin: 7px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 125px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 940px;
    margin-left: 75px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 305px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 700;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 214px;
  }

  .u-section-1 .u-form-1 {
    width: 349px;
  }

  .u-section-1 .u-layout-cell-4 {
    background-size: 110%;
    min-height: 519px;
  }

  .u-section-1 .u-image-1 {
    width: 304px;
    height: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 235px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 391px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 20px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
    margin-left: 185px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-form-1 {
    width: 283px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 398px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 295px;
    height: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 325px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
    margin-left: 275px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 597px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 425px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 184px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
    margin-left: 375px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 376px;
  }
}